<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Michael's Personal Website Yay!</title>
  </head>
  <body>
    <div ng-view></div>
    
    <%= yield_content "scripts" %>
  </body>
</html>
